.container{
    /* border: 1px solid orange ; */
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fffbef;
    
}
.card{
    /* border: 3px solid #da398f; */
    height:80%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}
.subcard1{
    /* border: 1px solid blue ; */
  
    width:50%;
}
.subcard2{
    /* border: 1px solid red ; */
    display: flex;
    width: 30%;
    text-align: left;
    flex-direction: column;
}

.img{
    display: flex;
    text-align: center;
    
   
    justify-content: center;
    /* border: 2px solid #12b1ea; */
}
img{
    
    height:70%;
    width:70%;
    z-index: 1;
}



p{
    font-size:10px;
}
h3{
    margin-bottom:5px ;
}
#btn{
    display:flex;
    justify-content:space-between;
    background-color: #fdd450;
    color: white;
    font-weight: bolder;
    font-size: larger;
    width:90%;
    padding: 5px;
   
    

   

}
#selectedImg{
    opacity:0;
}

#logoImage{
    display: flex;
    width:20%;
   
    height:100%;
    z-index:0;
   margin: auto;
}
.logo-img{
    display: flex;
    width: 100%;
    height: 3.5%;
    /* border: 2px solid green; */
    margin-top: -3.2em;
    opacity: 1;
}


 /* Loader start */

 .loader{
   
   
    overflow: hidden;
    pointer-events: none;
    opacity: 1;
    transition: all 7s ease-out;
    /* border: 2px solid purple; */
    margin-top: -12em;
}
.main-svg{
    width: 100px;
    height: 100px;
    animation: 7s main-svgAnimation;
    animation-iteration-count:infinite;
    animation-timing-function:  linear ;
    animation-duration: 2s;
    /* border: 2px solid purple; */
   
    z-index: 5;


    
   

}

.main-svg2{
    width:30px;
    height: 30px;
     animation: 7s main-svgAnimation;
    animation-iteration-count:infinite;
    animation-timing-function:  linear ;
    animation-duration: 1s;
    /* border: 2px solid purple; */
    margin-left:-5em;
    margin-top: 5px;
    z-index: 5;
}
.loder2{
    /* border: 2px solid red; */
    margin-top: -2em;
}



@keyframes main-svgAnimation{
    from{
transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}




  /* loader end */















.btn1{
    background-color: #da398f;
    height: 30px;
    width: 30px;
    border-radius:50%;
    border: 2px solid transparent;
}
.btn2{
    background-color: #33b4e6;
    height: 30px;
    width: 30px;
    border-radius:50%;
    border: 2px solid transparent;
    
}
.btn3{
    background-color: #fdd450;
    height: 30px;
    width: 30px;
    border-radius:50%;
    border: 2px solid transparent;
    
}




#custom-button {
    /* padding: 5px; */
    
    /* color: white; */
    background-color:transparent;
    border: unset;
    cursor: pointer;
    /* border: 2px solid black; */
    /* margin: 10px 0 0 1px; */
    
  }
  
 
  
  #custom-text {
   margin-top: 5px;
    font-family: sans-serif;
    color: #fff;
    margin-left:-4em;
    margin-top:7px;
    
  }
  #reset-button{
    border: unset;
    font-size: large;
    color: #fff;
    background-color: transparent;
    opacity: 0;
   
  }






  @media (min-width: 768px) and (max-width: 1024px) {
    /* Your styles for tablets go here */

    .container{
        /* border: 1px solid orange ; */
        display: flex;
        height: 99vh;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #fffbef;
        
    }
    .card{
        /* border: 3px solid #da398f; */
        height:80%;
        width: 40%;
        display: flex;
        flex-direction:column;
        text-align: center;
        justify-content: center;
    
    }
    .subcard1{
       text-align: center;
       /* border: 5px solid blue ; */
       height:30%;
       width: 100%;
       margin-top: -10em;

    }
    .subcard2{
        /* border: 5px solid red ; */
       width: 100%;
        height:40%;
        margin-top: 5em;
    }
    
    .img{
        display: flex;
        text-align: center;
        
       
        justify-content: center;
        /* border: 2px solid #12b1ea;; */
    }
    img{
        
        height:55%;
       
        z-index: 1;
    }
    
    p{
        font-size:10px;
    }
    #btn{
        display:flex;
        justify-content: space-between;
        background-color: #fdd450;
        color: white;
        font-weight: bolder;
        font-size: larger;
       
        width: 80%;
        height: 1.8em;
        border-radius: 12px;
       
        padding: 10px;
       
    
    }
    #selectedImg{
        opacity:0;
    }
    
    #logoImage{
        display: flex;
        width:20%;
       
        height:100%;
        z-index:0;
       margin: auto;
    }
    .logo-img{
        display: flex;
        width: 100%;
        height: 3.5%;
        /* border: 2px solid green; */
       
        opacity: 1;
    }
    
    
     /* Loader start */
    
     .loader{
       
       
        overflow: hidden;
        pointer-events: none;
        opacity: 1;
        transition: all 7s ease-out;
        /* border: 2px solid yellow; */
        margin-top: -7em;
        
    }
    .main-svg{
        width: 100px;
        height: 100px;
        animation: 7s main-svgAnimation;
        animation-iteration-count:infinite;
        animation-timing-function:  linear ;
        animation-duration: 2s;
        /* border: 2px solid purple; */
       
        z-index: 5;
       
    
    }
    .main-svg2{
        width:30px;
        height: 30px;
         animation: 7s main-svgAnimation;
        animation-iteration-count:infinite;
        animation-timing-function:  linear ;
        animation-duration: 1s;
        /* border: 2px solid purple; */
        margin-left:-3.5em;
        margin-top: 5px;
        z-index: 5;
    }
    
    
    
    @keyframes main-svgAnimation{
        from{
    transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    
    
    
    
      /* loader end */
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .btn1{
        background-color: #da398f;
        height: 30px;
        width: 30px;
        border-radius:50%;
        border: 2px solid transparent;
    }
    .btn2{
        background-color: #33b4e6;
        height: 30px;
        width: 30px;
        border-radius:50%;
        border: 2px solid transparent;
        
    }
    .btn3{
        background-color: #fdd450;
        height: 30px;
        width: 30px;
        border-radius:50%;
        border: 2px solid transparent;
        
    }
    
    
    
    
    #custom-button {
        /* padding: 5px; */
        
        color: white;
        background-color:transparent;
        border: unset;
        cursor: pointer;
        /* margin: 10px 0 0 1px; */
        
      }
      
      /* #custom-button:hover {
        background-color: #00b28f;
      } */
      
      #custom-text {
       margin-top: 5px;
        font-family: sans-serif;
        color: #fff;
      }
      #reset-button{
        border: unset;
        font-size: larger;
        color: #fff;
        background-color: transparent;
      }


  }


  @media (max-width: 767px) {
   
    .container{
        /* border: 1px solid orange ; */
        display: flex;
        height: 99vh;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #fffbef;
        
    }
    .card{
        /* border: 3px solid #da398f; */
        height:80%;
        width: 100%;
        display: flex;
        flex-direction:column;
        text-align: center;
        justify-content: center;
    
    }
    .subcard1{
       text-align: center;
       /* border: 5px solid blue ; */
       height:30%;
       width: 100%;
       margin-top: -10em;

    }
    .subcard2{
        /* border: 5px solid red ; */
       width: 100%;
        height:40%;
        margin-top: 5em;
    }
    
    .img{
        display: flex;
        text-align: center;
        
       
        justify-content: center;
        /* border: 2px solid #12b1ea;; */
    }
    img{
        
        height:55%;
       
        z-index: 1;
    }
    
    p{
        font-size:10px;
    }
    #btn{
        display:flex;
        justify-content: space-between;
        background-color: #fdd450;
        color: white;
        font-weight: bolder;
        font-size: smaller;
        
        width: 80%;
        height: 2em;
       
       
        padding: 10px;
       
    
    }
    #selectedImg{
        opacity:0;
    }
    
    #logoImage{
        display: flex;
        width:20%;
       
        height:100%;
        z-index:0;
       margin: auto;
    }
    .logo-img{
        display: flex;
        width: 100%;
        height: 10%;
        /* border: 2px solid green; */
       margin-top:-2.2em;
        opacity: 1;
    }
    
    
     /* Loader start */
    
     .loader{
       
       
        overflow: hidden;
        pointer-events: none;
        opacity: 1;
        transition: all 7s ease-out;
        /* border: 2px solid yellow; */
        margin-top:-8em;
        
    }
    .main-svg{
        width: 100px;
        height: 100px;
        animation: 7s main-svgAnimation;
        animation-iteration-count:infinite;
        animation-timing-function:  linear ;
        animation-duration: 2s;
        /* border: 2px solid purple; */
       
        z-index: 5;
       
    
    }
    .main-svg2{
        width:30px;
        height: 30px;
         animation: 7s main-svgAnimation;
        animation-iteration-count:infinite;
        animation-timing-function:  linear ;
        animation-duration: 1s;
        /* border: 2px solid purple; */
        margin-left:-3.5em;
        margin-top: -5px;
        z-index: 5;
    }
    
    
    
    @keyframes main-svgAnimation{
        from{
    transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    
    
    
    
      /* loader end */
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .btn1{
        background-color: #da398f;
        height: 30px;
        width: 30px;
        border-radius:50%;
        border: 2px solid transparent;
    }
    .btn2{
        background-color: #33b4e6;
        height: 30px;
        width: 30px;
        border-radius:50%;
        border: 2px solid transparent;
        
    }
    .btn3{
        background-color: #fdd450;
        height: 30px;
        width: 30px;
        border-radius:50%;
        border: 2px solid transparent;
        
    }
    
    
    
    
    #custom-button {
        /* padding: 5px; */
        
        color: white;
        background-color:transparent;
        border: unset;
        cursor: pointer;
        /* margin: 10px 0 0 1px; */
        
      }
      
      /* #custom-button:hover {
        background-color: #00b28f;
      } */
      
      #custom-text {
       margin-top: 5px;
        font-family: sans-serif;
        color: #fff;
      }
      #reset-button{
        border: unset;
        font-size: larger;
        color: #fff;
        background-color: transparent;
      }


  }